<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col (click)='dismiss2()'>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-col>
      <ion-label>
        Ajouter Contact 
      </ion-label>

      <ion-col>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>
<ion-grid class="st-grid" [formGroup]="addForm">
  <ion-row>
    <ion-input placeholder="Nom" formControlName="nom"></ion-input>
  </ion-row>
  <ion-row>
    <ion-input placeholder="prenom" formControlName="prenom"></ion-input>
  </ion-row>
  <ion-row>
    <ion-input placeholder="tel1" formControlName="tel1"></ion-input>
  </ion-row>
  <ion-row>
    <ion-input placeholder="tel2" formControlName="tel2"></ion-input>
  </ion-row>
  <ion-item>
    <ion-label>Type</ion-label>
    <ion-select placeholder="Select One" formControlName="type">
      <ion-select-option value="amis">amis</ion-select-option>
      <ion-select-option value="famille">famille</ion-select-option>
      <ion-select-option value="professionnel">professionnel</ion-select-option>
      <ion-select-option value="autre">autre</ion-select-option>
    </ion-select>
  </ion-item>
</ion-grid>
<ion-row>
  <ion-col class="ion-text-center">
    <ion-button (click)="addContact()">
      Ajouter un Contact
      </ion-button>
  </ion-col>
</ion-row>
</ion-content>
