<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col (click)='dismiss()'>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-col>
      <ion-label>
        Contact Informations
      </ion-label>

      <ion-col>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-label class="st">{{params.nom}} {{params.prenom}}</ion-label>

  <ion-grid class="st-grid">
    <ion-row>
      <ion-col>
        Nunemro Téléphone :
      </ion-col>
      <ion-col>
        {{params.tel1}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Nunemro Téléphone2 :
      </ion-col>
      <ion-col>
        {{params.tel2}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Type :
      </ion-col>
      <ion-col>
        {{params.type}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Date de création :
      </ion-col>
      <ion-col>
        {{params.date_creation}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>